@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

body {
    display: block;
    overflow-x: hidden;
}

.navbar-brand img {
    max-height: 90px;
    margin-left: 2em;
}

#navbarSupportedContent ul li a {
    color: #801737;
    font-size: 22px;
    font-weight: 600;
    margin-left: 2em;
}

#navbarSupportedContent ul li a:hover {
    color: rgb(223, 32, 32);
}

#KSUlogo {
    max-height: 70px;
}


/* Responsive design  */


/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}